@import 'variables.scss';
html, body, #root{
    font-family: $font-family;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    /* width */
    ::-webkit-scrollbar {
        width: 7px;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
   
    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius:50px;
        background: #888; 
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}
