.MainBody {
    ::-webkit-scrollbar {
        width: 0px;
    }
    .MainApp {
        background-color: rgb(33, 33, 51);
        .bg-mainColor {
            background-color: rgb(23, 23, 31);
        }
        .icon {
            background-color: rgb(255, 255, 255);
            transition: 0.2s;
            outline: none;
            &:hover {
                background-color: rgb(216, 216, 216);
            }
            &:focus-visible {
                outline: none;
            }
        }
        .navigativeButton {
            & > button {
                transition: 0.2s;
                background-color: rgb(23, 23, 31);
                &:hover {
                    background-color: rgb(30, 30, 39);
                }
                &:active {
                    background-color: rgb(19, 19, 26);
                }
            }
            .logoutButton {
                background-color: rgb(255, 255, 255);
                color: #6c757d;
                transition: 0.2s;
                &:hover {
                    background-color: #4b4e52;
                    color: rgb(255, 255, 255);
                }
            }
        }
        .chatSection {
            background-color: rgb(33, 33, 51);
            transition: 0.2s;
            &:hover {
                background-color: rgb(39, 39, 59);
            }
            &:active {
                background-color: rgb(29, 29, 44);
            }
        }
        .settingButton {
            background-color: rgb(33, 33, 51);
            border: none;
            color: white;
            transition: 0.2s;
            &:hover {
                color: rgb(184, 184, 206);
            }
            &:active {
                color: rgb(118, 118, 143);
            }
        }

        input:focus {
            outline: none;
            color: white;
        }
        .modal {
            input {
                background-color: rgb(216, 216, 216);
                border: none;
                box-shadow: none;
                outline: none;
                color: white;
                &:focus {
                    border: none;
                }
            }
            button.emailGroupButton {
                background-color: rgb(108, 117, 125);
                transition: 0.5s;
                &:hover {
                    background-color: rgb(84, 87, 92);
                }
            }
        }

        ::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            border-radius: 50px;
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
}
