$base-color: white;
$body-color: rgb(239, 239, 239);
$font-family: 'Roboto', sans-serif;
.center{
    display:flex;
    align-items: center;
    justify-content:center;
}
.dotText{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden !important;
}